/*CORPO DA BASE DOS TEMPLATES DE AVALIAÇÃO*/
.avaliacao {
    padding: 10px 20px 10px;
    width: 600px;
    margin: auto;
    background: #fff;
    border: 10px solid #fff;
    overflow: auto;
    box-shadow: 0 0 2px #bdbdbd;
    outline: 1px solid #e7e7e7;
}

.avaliacao blockquote {
    color: #555;
}

div2 {
    margin: -28px 15px 0 -20px;
    padding: 10px 20px 8px;
    display: block;
    font-size: 25px;
    position: absolute;
    color: #fff;
    width: 600px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 25px;
}

div2 i {
    float: right;
}

div3 {
    background: #fff;
    display: block;
    line-height: 20px;
    color: #8a8a8a;
}

div3 span {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}

/*TEMPLATE PONTUADO*/
#pontuado div2 {
    background: #c468ca;
}

#pontuado div3 span {
    color: #c468ca;
}

#pontuado div3 strong {
    color: #c468ca;
}

#pontuado div3 a {
    color: #c468ca !important;
}
/*TEMPLATE PONTUADO*/

/*TEMPLATE APROVADO*/
#aprovado div2 {
    background: #53b951;
}

#aprovado div3 span {
    color: #53b951;
}

#aprovado div3 strong {
    color: #53b951;
}

#aprovado div3 a {
    color: #53b951 !important;
}
/*TEMPLATE APROVADO*/

/*TEMPLATE REPROVADO*/
#reprovado div2 {
    background: #cc4f4f;
}

#reprovado div3 span {
    color: #cc4f4f;
}

#reprovado div3 strong {
    color: #cc4f4f;
}

#reprovado div3 a {
    color: #cc4f4f !important;
}
/*TEMPLATE REPROVADO*/

/*TEMPLATE ATUALIZADO*/
#atualizado div2 {
    background: #5c9bb7;
}

#atualizado div3 span {
    color: #5c9bb7;
}

#atualizado div3 strong {
    color: #5c9bb7;
}

#atualizado div3 a {
    color: #5c9bb7 !important;
}
/*TEMPLATE ATUALIZADO*/

/*TEMPLATE INFORMACAO*/
#informacao div2 {
    background: #d6a356;
}

#informacao div3 span {
    color: #d6a356;
}

#informacao div3 strong {
    color: #d6a356;
}

#informacao div3 a {
    color: #d6a356 !important;
}
/*TEMPLATE INFORMACAO*/
