
    .popBG {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.64);
        position:fixed;
        top:0;
        left:0;
        display:none;
  z-index: 999!important;
    }
  
.city, .city div {width:100%;height:100%;}
.mapakardia {background:url(https://images2.imgbox.com/87/20/t22R7atZ_o.png) center center / 100%;}
.mapadimior {background:url(https://images2.imgbox.com/0e/90/OqwEfvAw_o.png) center center / 100%;}
.mapaora {background:url(https://images2.imgbox.com/1f/a3/iyEPQxmh_o.png) center center / 100%;}
.mapamargurou {background:url(https://images2.imgbox.com/5d/76/nbau50DI_o.png) center center / 100%;}
.mapakatastro {background:url(https://images2.imgbox.com/a1/60/Z94iJGtY_o.png) center center / 100%;}

.mapakardia a, .mapadimior a, .mapaora a, .mapamargurou a, .mapakatastro a  {
    margin-left: 0px;
    height: 580px;
    width: 580px;
    background: transparent !important;
}
  
.mapa {
    width: 600px;
    height: 100%;
    display: inline-block;
    background: url(https://images2.imgbox.com/3f/49/7nYLPPPR_o.png) center center / 100%;
    position: relative;
}

.dora {
    display: inline-block;
    width: 120px;
    height: 100%;
    vertical-align: top;
}

.cidademapa {
    width: 120px;
    height: 119px;
    font-size: 12px;
    color: white;
    text-align: center;
    background: #65a7de;
    font-weight: bold;
    line-height: 120px;
    cursor: pointer;
    border-top: 1px solid #5a97ca;
}

.mapa1 {background: #666;}
.mapa2 {
    background: #cbb051;
}
.mapa3 {background:#486288;} .mapa4 {background: #AB73A8} .mapa5 {background:#BD5F5B;}
